{% extends "base.html" %}

{% block content %}
<link href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <a href="/register">New here! Sign Up.</a>
    <h1>Sign In</h1>
    <form action="/login" method="POST" name="login">
        {{ form.hidden_tag()}}
        <p>
            Please Enter Login Credentials<br>
            {% if error != 'None' %}
                <h6 style="color: #9C1A1C">{{error}}</h6>
            {% endif %}
            <div >
                {{form.username.label()}}
                <br>
                {{form.username()}}
                {% for error in form.username.errors %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </div>
                <br>
            {{form.password.label()}}
            <br>
            {{form.password}}
            {% for error in form.password.errors %}
                <span style="color: red;">[{{ error }}]</span>
            {% endfor %}

        </p>
        <p>
            {{form.remember_me}} Remember Me
        </p>
            <input type="submit" value="Sign In" name="Login">
        </p>


    </form>

{% endblock %}