{% extends "base.html" %}

{% block content %}
   <link href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <a href="/user" name="Home">
		Home
	</a>
|
    <a href="/logout" name="logout" >
        Logout
    </a>

    <p>
        {% if relation %}
        	{% if relation == 'New' %}
				You are visiting {{ username_obj.username }}!! email: {{ username_obj.email}}. <br>
				status: <a href="/user/add/{{username_obj.username}}">Add Friend</a>
        	{% elif relation.status == 'Accepted' %}
        		You are visiting {{ username_obj.username }}!! email: {{ username_obj.email}}.<br>
				Current status: {{relation.status}} | <a href="/user/unfriend/{{username_obj.username}}">Unfriend</a><br>
				Action taken by: {{relation.action_username}}
            {% elif relation.status == 'Rejected' %}
				You are visiting {{ username_obj.username }}!! email: {{ username_obj.email}}. <br>
				Current status: {{relation.status}} <a href="/user/add/{{username_obj.username}}">Add Friend</a><br>
				Action taken by: {{relation.action_username}}
        	{% elif relation.status == 'pending' %}
				You are visiting {{ username_obj.username }}!! email: {{ username_obj.email}}.
				Current status: {{relation.status}} <br>
				Action taken by: {{relation.action_username}} |
					{% if relation.action_username != username %}
						<a href="/user/add/{{username_obj.username}}">Confirm</a> |
						<a href="/user/reject/{{username_obj.username}}">Reject</a>
					{% endif %}
			{% else %}
				You are visiting {{ username_obj.username }}!! email: {{ username_obj.email}}.
				Current status: {{relation.status}}<br>
				Action taken by: {{relation.action_username}}
        	{% endif %}
        {% else %}
        	Hello {{ username_obj.username }}!! Your email: {{ username_obj.email}}
        {% endif %}
    </p>
    <hr>
    <p>
	You shared message with {{username_obj.username}}
        </p>
	{% for msg in msg_all %}
    {% if (msg.first_username == username and msg.read_permission_first_user == True)
or (msg.second_username == username and msg.read_permission_second_user == True)%}
		<p>{{msg.first_username}} -> {{msg.second_username}} -> {{msg.timestamp}} <a href="/user/{{username_obj.username}}/message/delete/{{msg.id}}">delete</a><br> {{msg.chat}} </p>
        <br>
{% endif %}
	{% endfor %}

{% if relation.status == 'Accepted' %}
    <form action="/user/{{username_obj.username}}/message" method="POST" name="message">
        {{ form.hidden_tag()}}
        <p>
            <div >
                {{form.message.label()}}
                <br>
                {{form.message()}}
                {% for error in form.message.errors %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </div>

        </p>
        <p>
            <input type="submit" value="message" name="Message">
        </p>
    </form>
{% endif %}
{% endblock %}