{% extends "base.html" %}

{% block content %}
<link href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" media="screen">
	<a href="/user" name="Home">
		Home
	</a>
|
    <a href="/logout" name="logout" >
        Logout
    </a>

    <p>
        {% if relation %}
        	{% if relation == 'New' %}
				You are visiting {{ username_obj.username }}!! email: {{ username_obj.email}}. <br>
				status: <a href="/user/add/{{username_obj.username}}">Add Friend</a>
        	{% elif relation.status == 'Accepted' %}
        		You are visiting {{ username_obj.username }}!! email: {{ username_obj.email}}.<br>
				Current status: {{relation.status}} | <a href="/user/unfriend/{{username_obj.username}}">Unfriend</a><br>
				Action taken by: {{relation.action_username}} |
				<a href="/user/{{username_obj.username}}/message">Message</a>

            {% elif relation.status == 'Rejected' %}
				You are visiting {{ username_obj.username }}!! email: {{ username_obj.email}}. <br>
				Current status: {{relation.status}} <a href="/user/add/{{username_obj.username}}">Add Friend</a><br>
				Action taken by: {{relation.action_username}}
        	{% elif relation.status == 'pending' %}
				You are visiting {{ username_obj.username }}!! email: {{ username_obj.email}}.
				Current status: {{relation.status}} <br>
				Action taken by: {{relation.action_username}} |
					{% if relation.action_username != username %}
						<a href="/user/add/{{username_obj.username}}">Confirm</a> |
						<a href="/user/reject/{{username_obj.username}}">Reject</a>
					{% endif %}
			{% else %}
				You are visiting {{ username_obj.username }}!! email: {{ username_obj.email}}.
				Current status: {{relation.status}}<br>
				Action taken by: {{relation.action_username}}
        	{% endif %}
        {% else %}
        	Hello {{ username_obj.username }}!! Your email: {{ username_obj.email}}
        {% endif %}
    </p>	
    <hr>
    <B>Friends</B>
    {% for frnd in frndlist1 %}
    	{% if frnd.status == 'Accepted' %}
    		<li><a href="/user/{{ frnd.second_username}}">{{frnd.second_username}}</a></li>
    	{% endif %}
    {% endfor %}
    {% for frnd in frndlist2 %}
		{% if frnd.status == 'Accepted' %}
			<li><a href="/user/{{ frnd.first_username}}">{{ frnd.first_username}}</a></li>
		{% endif %}
    {% endfor %}
    
    <hr>
    <B>Confirm friend request</B>
    {% if relation == None %}
	    {% for frnd in frndlist2 %}
			{% if frnd.status == 'pending' %}
				<li><a href="/user/{{ frnd.first_username}}">{{ frnd.first_username}}</a>
					| <a href="/user/add/{{frnd.first_username}}">Confirm</a>
					| <a href="/user/reject/{{frnd.first_username}}">Reject</a>

				</li>
			{% endif %}
	    {% endfor %}
	{% endif %}

	<hr>
{% if username_obj.username == username%}
	<B>You shared messages with all friends</B>
	{% for msg in msg_all %}
		{% if (msg.first_username == username and msg.read_permission_first_user == True)
or (msg.second_username == username and msg.read_permission_second_user == True)%}
		<p>{{msg.first_username}} -> {{msg.second_username}} -> {{msg.timestamp}}
			<a href="/user/message/delete/{{msg.id}}">delete</a><br> {{msg.chat}}</p>

		{% endif %}
	{% endfor %}
{% else %}
	<B>You shared message with {{username_obj.username}}</B>
	{% for msg in msg_all %}
		{% if (msg.first_username == username and msg.read_permission_first_user == True)
or (msg.second_username == username and msg.read_permission_second_user == True)%}
		<p>{{msg.first_username}} -> {{msg.second_username}} -> {{msg.timestamp}}
			<a href="/user/{{username_obj.username}}/delete/{{msg.id}}">delete</a><br> {{msg.chat}}</p>

		{% endif %}
	{% endfor %}
{% endif %}

{% endblock %}